body, main {
    display: flex;
    font-family: arial;
}

body {
    flex-direction: column;
    text-align: center;
}

main {
    flex-direction: row;
}

article, aside {
    overflow-y: auto;
    overflow-x: auto;
}

article {
    flex: 3;
}

aside {
    flex: 1;
}

#header{
    position:relative;
    display: flex;
    margin:0px;
    width:100%;
    height:100px;
    background:#01264b;
    color: aliceblue;
    padding: 15px;
}

#logo{
    position:flex;
    top:30px;
    left:30px;
    width:1000px;
    height:100px;
    font-family: 'Times New Roman', cursive;
    font-size:50px;
    text-align:center;
    line-height:60px;
}

#menu{
    position: flex;
    height: 100%;
    background: #edeeef;
    padding: 35px;
}

#menu ul li {
    color: #387F46;
    text-align: center;
    padding: 30px;
    border-bottom: 1px solid rgba(100,100,100);
    font-family: 'Times New Roman';
    font-size:0px;
}

#img{
    width: 130x;
    height: 150px;
}

#content{
    margin: 0;
    height: 40px;
    padding-top: 5%;
    margin-bottom: 1%;
    font-size: 20px;
    text-decoration-line: underline;
}

#login{
    color: #FDFEFE;
    display: center;
    margin:auto;
    margin-top: 8%;
    margin-left: 25%;
    width:50%;
    background: #387F46;
    padding: 20px 30px;
    border: 5px solid #000000 ;
    border-radius: 30px;
}

input::placeholder{
    font-style: italic;
    color: #000000;
}

.controles{
    margin: 0;
    width: 100%;
    border: 3px solid #000000;
    margin-bottom: 15px;
    padding: 11px 7px;
    background: #edeeef;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    border-radius: 10px;
}

.boton{
    width: 102%;
    height: 40px;
    background: #ee883d;
    border-radius: none;
    font-style: italic;
    cursor: pointer;
}

#start{
    margin-bottom: 8px;
    color: #000000;
    border: 2px solid #000000 ;
    border-radius: 7px;
}




