<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <title>GestionIE</title>
</head>

<body>
<nav id="menu">
  <ul>
    <li>
      <img id="img" src="../static/img/compania.png" alt="No carga la imágen" class="Logo">
    </li>
    <li><button type="button" class="btn btn-secondary">Ingresos y Egresos</button></li>
    <li><button type="button" class="btn btn-secondary">Usuarios</button></li>
    <li><button type="button" class="btn btn-secondary">Empresas</button></li>
  </ul>
</nav>
<section>
  <aside id="izq">

  </aside>
  <div id="derecha">
    <div id="header">
      <div id="logo">GestionIE System's</div>
    </div>
    <div id="titulo">
      <h3>Sistema de gestion de Ingresos y Gastos</h3>
      <h3>Sistema de gestion de Usuarios</h3>
      <h3>Sistema de gestion de Empresas</h3>
    </div>
    <div id="login">
      <h3>Nuevo Movimiento de Dinero</h3>
      <h4>Monto</h4>
      <input class="controles" type="text" name="Nombre" value="" placeholder="Monto de Dinero">
      <h4>Concepto</h4>
      <input class="controles" type="text" name="Correo" value="" placeholder="Concepto">
      <h4>Fecha</h4>
      <label for="start"></label>
      <input type="date" id="start" name="trip-start"
             value="2000-18-22"
             min="1990-01-01" max="2999-12-31">

      <input class="boton" type="submit" name="" value="Entrar">
    </div>
  </div>
  <aside id="der"></aside>
</section>

<footer>
  &copy; Todos los derechos reservados.
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>